{% load static %}
<head>
    <title>Header</title>
    <link rel="stylesheet" type="text/css" href="{% static 'header.css' %}">
    
</head>

<button class="tablink" onclick="openTab('EnterStats', this)" id="defaultOpen">Enter Stats</button>
<button class="tablink" onclick="openTab('StatTable', this)">Stat Table</button>
<button class="tablink" onclick="openTab('ShareStats', this)">Share Stats</button>
<button class="tablink" onclick="openTab('Options', this)">Options</button>



<script>
function openTab(tab, elmnt) {
  // Hide all elements with class="tabcontent" by default */
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }

  // Remove the background color of all tablinks/buttons
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].style.backgroundColor = "";
  }

  // Show the specific tab content
  document.getElementById(tab).style.display = "block";

  // Add the specific color to the button used to open the tab content
  elmnt.style.backgroundColor = "#009d07";
}

</script>
